* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    background-color: blue;
    height: 80vh;
    width: 35vw;
    display: grid;
    grid-template-rows: 30% 70%;
}

.display {
    display: flex;
    justify-content: end;
    align-items: center;
    overflow: hidden;
    padding-right: 0.5rem;
    background-color: gray;
    font-size: 7rem;

}

.keyboard {
    background-color: brown;
    display: grid;
    
}