* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    font-size: 62.5%;
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100%;
    place-items: center;
}
main {
    width: 40%;
    height: 90%;
    background-color: gray;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 30% 70%;
}
.display {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: flex-end;
    align-items: center;
    background-color: #000;
    color: #fff;
    font-size: 4rem;
    padding: 1rem;
}
.keyboard {
    display: grid;
    grid-template-rows: 20% 20% 20% 20% 20%;
    grid-template-columns: 25% 25% 25% 25%;
    place-items: center;
    padding: 0.3rem;
}
.resultado-button{
    background-color: orange;
} 
button {
    width: 95%;
    height: 95%;
    font-size: 2rem;
    border: none;
}
@media (max-width: 700px) {
    main {
        width: 80%;
    }
}